<div class="container">
  <% @reviews.each do |review| %>
    <p><a href="http://www.canistream.it/search/movie/<%= review.movie.title.gsub( /\s/, '+' )%>"><%= review.movie.title %></a></p>
    <img src="<%= review.movie.img_url %>" alt="Movie Poster">
  <% end %>
</div>


