<div class="container">
  <% @reviews.each do |review| %>
    <% if review.category == params[:category] %>
    <p><%= review.movie.title %></p>
    <img src="<%= review.movie.img_url %>" alt="Movie Poster">
    <% end %>
  <% end %>
</div>
